BaseUrl = "https://bri-host"
DirectDebitBaseURL = "https://bri-direct-debit-host"  # remove /sandbox prefix, added later in unit test
ClientId = "your-client-id"
ClientSecret = "your-client-secret"
APIKey = "your-bri-api-key"

# for direct debit
CardPan = "your-card-pan"
PhoneNumber = "your-phonenumber"
Email = "your-email"